*.o
*.exe
*.a
*.so.*
*.lib
*.dll
switchres_main
grid
switchres
switchres.pc
protocols/kde/*-client.h
protocols/kde/*-client-protocol.c
protocols/wlroots/*-client.h
protocols/wlroots/*-client-protocol.c
